@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --variable-collection-cream: rgba(255, 250, 220, 1);
  --variable-collection-dark-green: rgba(152, 205, 0, 1);
  --variable-collection-green: rgba(164, 221, 0, 1);
  --variable-collection-light-green: rgba(182, 245, 0, 1);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ======================================================================================== */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.nav-link {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
}
